@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    list-style-type: none;
}

.principal {
    overflow: hidden;
    background-color: #F9F9F9;
    width: 100%;
    padding-bottom: 141px;
}

.menu{
    display: flex;
    margin-left: 80px;
}


.main{
    margin-left: 35vh;
    width: 1000px;
    padding-bottom: 89px;
    background: #eeeeee;
}

.titulo{
    display: flex;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}


.seta_icon{
    cursor: pointer;
    padding: 20px 0 3px;
    width: 22px;
    height: 22px;
}

li p{
    color: #01113D;
    padding-left: 10px;
    padding-top: 3px;
}

.seus{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-right: 750px;
    margin-top: -30px;
}

.descricao{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-right: 500px;
    margin-left: 70px;
    text-align: start;
}

.certificados{
    margin-top: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-evenly;
}
.certificado{
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
    width: 240px;
}

.baixar{
    background-color: #E86310;
    border: none;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-left: 10vh;
}

.inferior{
    display: flex;
}

input{
    -webkit-appearance: none;
    width: 170px;
    margin-left: 15vh;
    padding-left: 30px;
    height: 4px;
    color: #E86310;
    background: rgba(209, 209, 209, 0.6);
    background-image: linear-gradient(#01113D, #01113D);
    background-size: 70% 100%;
    background-repeat: no-repeat;
}
input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #01113D;
    box-shadow: 0 0 2px 0 #555;
  }

  .pontuacao{
      font-size: 13px;
      font-family: 'Poppins', sans-serif;
      margin-top: -30px;
      margin-right: 50px;
  }
  .pontuacao .consiga{
      cursor: pointer;
      color: #E86310;
  }