@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.menubento{
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
  cursor: pointer;
}

.logo{
  display: flex;
  width: 13%;
  margin-left: 650px;
  margin-top: -70px;
}

.main{
  margin-top: 50px;
  margin-left: 150px;
  width: 1200px;
  height: 360px;
  padding-bottom: 170px;
  background: #eeeeee;
}

.seta{
  display: flex;
  padding-top: 20px;
  padding-left: 30px;
}

.text-1 {
  margin-left: 7%;
  margin-top: -2.5%;
}

.box {
  background-color: #73FE9B;
  width: 500px;
  padding: 20px;
  margin-left: 5%;
  margin-top: 10%;
}

input {
  margin-left: 22%;
  background-color: #18c148;
  color: #fff;
  border-style: none;
  border-radius: 20px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}